.about-section {
    display: flex;
    height: 500px;
    max-width: 1490px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 40px 100px 20px 40px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    background-color: #282828;
}

.orange-line {
    border: 1px solid #C0760D;
    margin-top: 5px;
}

.photo-profile {
    display: flex;
    align-items: end;
    width: 400px;
    height: 500px;
    background-color: #606060;
}

.photo-profile img{
    width: 400px;
}
