.about-cover {
  position: relative;
  background-image: url("../assets/img/backgrounds/background-about-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.about-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d8;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  min-height: 700px;
  width: 100%;
  padding: 50px 60px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.about-content {
  position: absolute;
  z-index: 4;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 100px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  text-align: center;
}

.about-content .profile-photo {
  width: 300px;
  border-radius: 20px;
}

.about-content div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.about-content h2 {
  font-size: 36px;
}

.about-content .download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
}

@media (max-width: 768px) {
  .about-section {
    align-items: start;
    height: calc(100vh + 80px);
  }
  .about-content {
    position: absolute;
    gap: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    text-align: start;
    height: auto;
  }
  .about-content img {
    margin: auto;
    width: 300px;
    height: 380px;
    object-fit: cover;
  }
  .about-content h2 {
    font-size: 28px;
  }
}
