.experience-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.experience-section > div {
  max-width: 1200px;
  width: 100%;
}

.experience-section > div > .experience-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-section > div > .time-line-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.time-line {
  position: relative;
  width: 85%;
  max-width: 1200px;
  background: linear-gradient(to right, orange, #242424 );
  height: 5px;
  margin: auto;
}

.point0 {
  position: absolute;
  top: -8px;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;

}

.point1 {
  position: absolute;
  top: -8px;
  left: 33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #B8710D;

}

.point2 {
  position: absolute;
  top: -8px;
  left: 66%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #6C4E18;

  border-radius: 50%;
}


.point3 {
  position: absolute;
  top: -8px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #242424;

  border-radius: 50%;
}
.dates {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}

.job-infos {
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

.job-infos > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .experience-section {
    padding: 50px 20px;
    margin: 50px auto 0 auto;
    width: 360px;

  }

  .experience-section > div > .time-line-container {
    flex-direction: row;
    gap: 20px;
    padding: 50px 0;
  }

  .time-line {
    width: 5%;
    max-width: none;
    background: linear-gradient(to top, #242424, orange);
    height: 500px;
    margin: 20px;
  }

    .point0 {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /* background-color: orange; */
  }


  .point1 {
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /* background-color: orange; */
  }

  .point2 {
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    /* background-color: #956612; */
  }

  .point3 {
    top: 100%;
    transform: translate(50%, -20px);
    right: 50%;
    width: 40px;
    height: 40px;
    /* background-color: #242424; */
  }

  .dates {
    flex-direction: column-reverse;
    padding: 0 20px;
  }

  .job-infos {
    flex-direction: column;
    font-size: 14px;

  }

}
