header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: #000;
    height: 100px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

header {
    font-size: 22px;
}

header > .profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

header > .profile-container > .profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header > .profile-container > .profile-info > p {
    font-size: 14px;
    font-weight: bold;
}

header > .profile-container > .profile-info > a {
    font-size: 12px;
}

header > .profile-container > .profile-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #b6e2fc, #585858);
    color: #000;
    width: 50px;
    height: 50px;
}