.projects-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px 0 80px;
}

.projects-content > h1 {
  font-size: 24px;
}

#frontend {
  scroll-margin-top: 80px;
  scroll-behavior: smooth;
}

.projects-content > h2 {
  font-size: 18px;
  z-index: 999;
}

.splide > .splide__track > ul {
  position: relative;
  display: flex;
  align-items: center;
  height: auto !important;
  margin: 50px 0 !important;
}

.splide__list-backend {
  height: 440px !important;
}

.shadow-effect-left {
  position: absolute;
  content: "";
  width: 110px;
  height: 2000px;
  background-color: rgba(0, 0, 0);
  filter: blur(10px);
  opacity: 0.4;
  left: 0;
  top: 200px;
  z-index: 998;
}

.shadow-effect-right {
  position: absolute;
  content: "";
  width: 80px;
  height: 2000px;
  background-color: rgba(0, 0, 0);
  filter: blur(10px);
  opacity: 0.4;
  right: 0;
  top: 200px;
  z-index: 998;
}

.splide > .splide__track > ul > li {
  background-color: rgb(36, 36, 36);
  height: fit-content;
  border-radius: 5px;
  margin-left: 40px;
  cursor: pointer;
}

.splide > .splide__track > ul > li:hover {
  transition: ease .5s;
  scale: 1.2;
  z-index: 999;
}

.splide > .splide__track > ul > li > img {
  width: 100%;
  object-fit: cover;
}

.splide > .splide__track > ul > li > .project-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.splide > .splide__track > ul > li > .project-info > h2 {
  font-size: 16px;
}

.splide > .splide__track > ul > li > .project-info > div > p {
  font-size: 12px;
}

.projects-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.projects-buttons > a {
  width: 150px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  opacity: 0.5;
}

.projects-buttons > a:hover {
  opacity: 1;
  transition: ease 1s;
}
/* ocutar texto  */
.project-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: 4.5em; /* Altura correspondente às linhas limitadas */
  transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

.project-text.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: 100%; /* Exibe todo o texto */
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/* arrows  */

.splide__arrow {
  position: relative;
  background-color: transparent !important;
  z-index: 999 !important;
}

.splide__arrow--prev {
  left: -30px !important;
  width: 30px !important;
  height: 60px !important;
}

.splide__arrow--prev svg,
.splide__arrow--next svg {
  fill: white !important;
  opacity: 0.9 !important;
  width: 30px !important;
  height: 60px !important;
}

.splide__arrow--next {
  right: -10px !important;
  width: 30px !important;
  height: 60px !important;
}

@media (max-width: 1400px) {
  .splide > .splide__track > ul {
    height: 450px;
  }
}

@media (max-width: 1080px) {
  .splide > .splide__track > ul {
    height: 400px;
  }
  .splide > .splide__track > ul > li:hover {
    transition: ease 1s;
    scale: 1.1;
    z-index: 999;
  }
}

@media (max-width: 768px) {
  .projects-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px 0 40px;
  }

  .splide > .splide__track > ul {
    height: 400px;
  }

  .splide > .splide__track > ul > li {
    margin-left: 0;
  }

  .splide > .splide__track > ul > li:hover {
    scale: 1;
  }

  .splide__arrow--prev {
    left: -20px !important;
    width: 20px !important;
    height: 40px !important;
  }

  .splide__arrow--prev svg,
  .splide__arrow--next svg {
    fill: white !important;
    opacity: 0.9 !important;
    width: 20px !important;
    height: 40px !important;
  }

  .splide__arrow--next {
    right: -20px !important;
    width: 20px !important;
    height: 40px !important;
  }

  .shadow-effect-left {
    width: 50px;
  }

  .shadow-effect-right {
    width: 50px;
  }
}
