/* .project-cover {
    position: relative;
    object-fit: cover;
}

.project-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
} */

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px 0 80px;
}

.splide > .splide__track > ul {
    display: flex;
    align-items: center;
    height: 600px;
}

.splide > .splide__track > ul > li {
    background-color: rgb(36, 36, 36);
    height: 450px;
    /* width: 500px; */
    /* margin-left: 40px; */
    
}

.splide > .splide__track > ul > li:hover{
    transition: ease 1s;
    scale: 1.3;
    z-index: 999;
}

.splide > .splide__track > ul > li > img{
    width: 100%;
    /* min-height: 200px; */
    object-fit: cover;
}

.splide > .splide__track > ul > li > .project-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.splide > .splide__track > ul > li > .project-info > h2 {
    font-size: 16px;
}

.splide > .splide__track > ul > li > .project-info > p {
    font-size: 12px;
}